@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-default{
  @apply  bg-[#219EBC] font-bold text-white py-6;
}

.hidden-unhovered {
    opacity: 0;
    background-color: rgb(27, 179, 181);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 0;
  
  }
  
  .hidden-unhovered::after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    border: 5px solid;
    border-color: transparent transparent rgb(26, 162, 177) transparent;
  }
  
  .profile-photo:hover ~ .hidden-unhovered {
    opacity: 1;
    transition: opacity 1s;
  }

  .loader {
    font-size: 10px;
    margin: 0 auto;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 1px rgb(230, 230, 230) solid;
    position: relative;
    animation: loader 1.4s infinite linear;
    transform: translateZ(0);
  }
  
  .loader:before {
    width: 50%;
    height: 50%;
    background: #219EBC;
  
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  
  .loader:after {
    background: rgb(255, 255, 255);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 1px rgb(230, 230, 230) solid;
  
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  